@charset "utf-8";
*{margin:0;padding:0;list-style:none;border:0;}
body{width:100%;margin:0 auto;overflow-x:hidden}

/* main_image */
.main_visual{overflow:hidden;position:relative;}
.main_image{height:100%;overflow:hidden;position:relative;}
.main_image ul{width:9999px;height:100%;overflow:hidden;position:absolute;top:0;left:0}
.main_image li{float:left;width:100%;height:100%;}
.main_image li img{display:block;width:100%;height:100%}
.main_image li a{display:block;width:100%;height:100%}



div.flicking_con{position:absolute;top:17.5rem;left:50%;z-index:999;width:300px;height:21px;margin:0 0 0 -50px;}
div.flicking_con a{float:left;width:21px;height:21px;margin:0;padding:0;background:url('../img/btn_main_img.png') 0 0 no-repeat;display:block;text-indent:-1000px}
div.flicking_con a.on{background-position:0 -21px}
#btn_prev,#btn_next{z-index:11111;position:absolute;display:block;width:73px!important;height:74px!important;top:50%;margin-top:-37px;display:none !important;}
#btn_prev{background:url(../img/hover_left.png) no-repeat left top;left:100px;}
#btn_next{background:url(../img/hover_right.png) no-repeat right top;right:100px;}

/* index.html */
.fixed {
				position: fixed !important;
				left: 0 !important;
				top: 0 !important;
				width: 100% !important;
				z-index: 9999 !important;
				-webkit-transform: translate(0) !important;
				transform: translate(0) !important;
				z-index: 99999 !important;
				-webkit-transform: translateZ(0) !important;
				transform: translateZ(0) !important;
				-webkit-backface-visibility: hidden !important;
				/*Most Important*/
			}
			body {
				height: 100%;
				background: #f2f2f2;
				position: relative;
			}
			#nav {
				width: 100%;
				position: relative;
				display: block;
				height: 57.5px;
			}
			#nav a {
				border-top: 5px solid #d4d4d4;
				border-bottom: 5px solid #d4d4d4;
				display: block;
				width: 33.33333333333333%;
				float: left;
				line-height: 47.5px;
				text-align: center;
				position: relative;
				background: #FFFFFF;
			}
			#nav a img {
				display: block;
				position: relative;
				margin: 0 auto;
				height: 47.5px;
				width: auto;
			}
			.onfocus {
				background: #c71029 !important;
			}
			.line {
				position: relative;
				height: 0.5rem;
				width: 100%;
				background: #d4d4d4;
				border: 1px solid red;
			}
			.hide {
				display: none;
			}
			.show {
				display: block;
			}
			#content>div {
				width: 100%;
				position: relative;
			}
			.anchor {
				width: 100%;
				position: relative;
				height: 39.5px;
				background: #f2f2f2;
				border-bottom: 1px solid #E5E5E5;
			}
			.anchor a {
				/*float: left;*/

				display: block;
				float: left;
				color: #000000;
				text-align: center;
				font-size: 0.8rem;
				font-weight: bold;
				line-height: 39.5px;
			}
			#sc_anchor.anchor a,
			#ht_anchor.anchor a {
				width: 20%;
			}
			#jf_anchor.anchor a {
				width: 25%;
			}
			.anchorfoucs {
				background-image: url("../img/child_on.png");
				-webkit-background-size: contain;
				background-repeat: no-repeat;
				background-position: bottom;
				color: #c71029 !important;
			}
			.itemhead {
				width: 94.66666666666667%;
				height: auto;
				display: block;
				margin: 0 auto;
				padding-top: 12px;
				padding-bottom: 12px;
				vertical-align: bottom;
				clear: both;
			}
			.itemhead>s {
				display: inline-block;
				height: 15px;
				width: 5px;
				border-radius: 5px;
				margin-right: 5px;
				background: #c71029;
			}
			.itemhead>b {
				line-height: 15px;
				font-size: 1.1rem;
				margin-right: 5px;
			}
			.itemhead>i {
				font-size: 0.7rem;
				font-style: normal;
				color: #6d6d6d;
			}


			/*修改活动细则按钮添加样式*/
			.itemheadFirst>s {
				display: inline-block;
				height: 15px;
				width: 5px;
				border-radius: 5px;
				margin-right: 5px;
				background: #c71029;
			}
			.itemheadFirst>b {
				line-height: 15px;
				font-size: 1.1rem;
				margin-right: 5px;
				white-space:nowrap;
			}
			.itemheadFirst>i {
				font-size: 0.7rem;
				font-style: normal;
				color: #6d6d6d;
			}
			.rules_btn{

				white-space:nowrap;
				/*background:url('../img/icon_btn.jpg');*/
				background: #c71029;
				height:28px;
				width:100%;
				font-size: 0.7rem;
				color: #FFFFFF;
				display: block;
				text-align: center;
				line-height: 26px;
				background-size: cover;
				/*padding-left: 5px;*/
				/*padding-right: 5px;*/
				border-radius: 3px;
				margin-left: 5px;
			}





			.listitem {
				width: 100%;
				height: auto;
				background: #f2f2f2;
				position: relative;
			}
			.listitem ul {
				width: 100%;
				height: auto;
				margin-top: 4px;
				display: block;
			}
			.listitem ul li {
				float: left;
				width: 46%;
				margin-left: 2.66666666666667%;
				margin-bottom: 10px;
				height: auto;
				background: #FFFFFF;
			}
			.listitem ul li>img {
				position: relative;
				width: 100%;
				height: auto;
			}
			.product {
				width: 91.88405797101449%;
				position: relative;
				margin: 0 auto;
				border-top: 1px solid #E5E5E5;
				background: #ffffff;
			}
			.product>b {
				font-size: 1rem;
				display: block;
				font-weight: 600;
				margin-top: 6.5px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
			.product>span {
				font-size: 0.7rem;
				display: block;
				color: #6D6D6D;
				margin-top: 12px;
			}
			.product>i {
				font-style: normal;
				font-size: 0.9rem;
				display: block;
				color: #c71029;
				margin-top: 6px;
			}
			.product>i>em {
				font-style: normal;
				font-size: 0.7rem;
			}
			.product a {
				width: 100%;
				background: #c71029;
				padding-top: 8.5px;
				padding-bottom: 8px;
				text-align: center;
				display: block;
				color: #FFFFFF;
				border-radius: 4px;
				margin-top: 5.5px;
				margin-bottom: 7px;
			}
            .overlay {
				position: fixed;
				left: 0px;
				top: 0px;
				width: 100%;
				height: 100%;
				z-index: 99999999 !important;
				background-color: rgba(0, 0, 0, 0.5);
			}
			#indexpage{
				width: 100%;
				height: 100%;
			}
			#indexpage ul {
				position: absolute;
				bottom: 0%;
				width: 100%;
			}
			/*#indexpage ul li {*/
				/*float: left;*/
				/*width: 31%;*/
				/*height: 10rem;*/
				/*background: transparent;*/
				/*margin-left: 5px;*/
			/*}*/
			#indexpage ul li {
				float: left;
				width: 16%;
				height: 10rem;
				background: transparent;
				margin-left: 5px;
				/*border: 1px solid white;*/
			}
			#indexpage ul li:first-child{
				margin-left: 18%;
				margin-right: 6%;
			}
			#indexpage ul li:last-child{
				margin-left: 6%;
			}

			.alert {
				background: #FFFFFF;
				width: 72.66666666666667%;
				height: 90.38142620232172%;
				position: relative;
				margin: 0 auto;
				margin-top: 4.8922056384743%;
				border-radius: 20px;
			}
			::-webkit-scrollbar {
				width: 0px;
			}
			.alert>div {
				overflow-y: scroll;
				height: 100%;
				position: relative;
				margin: 0 auto;
				width: 87.70642201834862%;
			}
			.alert>img {
				position: absolute;
				top: -15px;
				right: -10px;
				z-index: 999999999;
				width: 30px;
				height: 30px;
			}
			.alert>div>h1 {
				text-align: center;
				border: 1px solid white;
				margin: 0px;
				color: #c71029;
				font-size: 1.8rem;
				font-weight: normal;
				padding-top: 12.5px;
				padding-bottom: 10px;
				border-bottom: 1px solid #74756f;
			}
			.alert>div>s,
			.alert>div>i,
			.alert>div>b {
				font-size: 1rem;
				font-style: normal;
				text-decoration: none;
				display: block;
				font-weight: normal;
				line-height: 1.7rem;
			}
			.alert>div>s {
				padding-top: 16px;
				padding-bottom: 20px;
			}
			.alert>div>i {
				padding-bottom: 21px;
				color: #74756F;
			}
			.alert em {
				font-style: normal;
				color: #c71029;
			}
			.alert>div>table {
				width: 100%;
				margin-top: 11.5px;
								margin-bottom:11.5px;
			}
			.alert>div>a {
				display: block;
				height: 25.5px;
				width: 46.44351464435146%;
				color: #FFFFFF;
				background: #c71029;
				line-height: 25.5px;
				text-align: center;
				margin: 0 auto;
				margin-top: 25px;
				margin-bottom: 19px;
				font-size: 0.8rem;
				border-radius: 3px;
			}
			.panelHT {
				width: 47.05020920502092%;
				background: #c71029;
				border-radius: 5px;
				height: 70px;
				font-size: 0.7rem;
				min-height: 7rem;
				line-height: 1.5rem;
				color: #FFFFFF;
				text-align: center;
				padding: 7px;
			}

			.toLeft {
				width: 19.5px;
			}
			.toRight {
				width: 19.5px;
				-webkit-transform: rotate(180deg);
			}
			.toBottom {
				height: 19.5px;
				padding-top: 7.5px;
				padding-bottom: 7.5px;
			}
			.center {
				text-align: center;
			}
			.dot{
				display: inline-block;
				width: 8px;
				height: 8px;
				border-radius: 8px;
				background: #c71029;
				margin-right: 4px;

			}
			.panelSC_cell {
			width: 45.05020920502092%;
			background: #c71029;
			border-radius: 5px;
			height: 40px;
			font-size: 0.7rem;
			min-height: 0.7rem;
			line-height: 1.5rem;
			color: #FFFFFF;
			text-align: center;
			padding: 7px;
			}
			.panelSC_pc {
			width: 33%;
			background: #c71029;
			border-radius: 5px;
			height: 40px;
			font-size: 0.7rem;
			min-height: 0.7rem;
			line-height: 1.5rem;
			color: #FFFFFF;
			text-align: center;
			padding: 7px;
			}

/*rules*/
 .rules {
				background: #FFFFFF;
				width:92%;
				height: 90.38142620232172%;
				position: relative;
				margin: 0 auto;
				margin-top: 4.8922056384743%;
				border-radius: 20px;
			}
			.rules>div {
				height: auto;
				position: relative;
				margin: 0 auto;
				width: 100%;
			}
			.rules>div>h1 {
				text-align:left;
				border: 1px solid white;
				margin: 0px;
				color: #c71029;
				font-size: 1.8rem;
				font-weight: normal;
			}
			.rules>div>h1>s {
				display: inline-block;
				height: 22px;
				width: 5px;
				border-radius: 5px;
				margin-right: 5px;
				background: #c71029;
			}
			.rules>div>s,
			.rules>div>i,
			.rules>div>b {
				font-size: 1rem;
				font-style: normal;
				text-decoration: none;
				display: block;
				font-weight: normal;
				line-height: 1.7rem;
			}
			.rules>div>s {
				padding-top: 16px;
				padding-bottom: 20px;
			}
			.rules>div>i {
				padding-bottom: 21px;
				color: #74756F;
			}
			.rules em {
				font-style: normal;
				color: #c71029;
			}
			.rules>div>table {
				width: 100%;
				margin-top: 11.5px;
				margin-bottom: 11.5px;
			}
			.rules>div>a {
				display: block;
				height: 25.5px;
				width: 46.44351464435146%;
				color: #FFFFFF;
				background: #c71029;
				line-height: 25.5px;
				text-align: center;
				margin: 0 auto;
				margin-top: 25px;
				margin-bottom: 19px;
				font-size: 0.8rem;
				border-radius: 3px;
			}

            .banner{
				width: 100%;
				height: 40px;
				text-align: center;
				line-height: 40px;
				color: #a4a4a4;
				font-size:0.8rem;

			}
			.banner>a{
				display: block;
				position: absolute;
				top: 7px;
				left:15px ;
				border: 1px solid #a4a4a4;
				width:13.6%;
				line-height: 25px;
				border-radius: 5px;
				color:#a4a4a4 ;
			}